[submodule "sensor/lib/RFM69"]
    path = sensor/lib/RFM69
    url = https://github.com/LowPowerLab/RFM69.git
[submodule "sensor/lib/I2CSoilMoistureSensor"]
	path = sensor/lib/I2CSoilMoistureSensor
	url = https://github.com/Apollon77/I2CSoilMoistureSensor.git
[submodule "sensor/lib/Low-Power"]
	path = sensor/lib/Low-Power
	url = https://github.com/rocketscream/Low-Power.git
