@import 'bulma/sass/utilities/initial-variables.sass';

$body-background-color: $white-ter;
$notification-padding: 1.25rem 2.5rem 1.25rem 2.5rem;

@import 'bulma/bulma.sass';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: white;
  transform: translateZ(0);
}
